<div class="backgroundWhiteBorder">
    <div class=" container p-3">
        <div class=" row pt-4">
            <div class="card text-left" style="width: 100%" height:30%>
                <div class="card-header bg-dark text-light ml-0 row container">
                    <div class="col-6">
                        <i class="fas fa-info-circle"></i> GENERAL GUIDELINES
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container p-3">
    <div>
        <h3>Do's</h3>
        <ul>
            <li>Wear mask</li>
            <li>Maintain social distance</li>
            <li>Keep yourself isolated and try to avoid physical contact</li>
            <li>Try to avoid crouded palces.</li>
            <li>Check oximeter rate in every hour</li>
            <li>Take steam</li>
            <li>Drink warm water</li>
            <li>Have lot's of vitamin C contained food</li>
            <li>Have lots of fresh vegetables and fruits</li>
            <li>If you are having breathlessness, don't panic, let your family member know and mean while try to do proning according to your doctor's instruction.'.</li>
            <li>Have your medeicine on time and complete the dose</li>
            <li>If you are a diabetes patients, then take extra care of your sugar level, and if it is above 10, then kindly consult with your doctor</li>
            <li>If you have high blood pressure, then careful about it</li>
            <li>Keep your used items separately</li>
            <li>Clean your surroundings with disinfectant and antiseptic liquid</li>
            <li>Clean your hands with hand sanitizer</li>
            <li>Sleep timely and have atleast 8 hours sleep</li>
        </ul>
        <h3>Dont's</h3>
        <ul>
            <li>Don't be careless about covid</li>
            <li>Don't keep your use items here and there</li>
            <li>Avoid smoking and drinking alcohol</li>
            <li>If you are feeling uneasy, don't hesitate to consult your doctor</li>
            <li>Don't reuse your surgical masks</li>
        </ul>
    </div>
</div>
