@model CovidCare.Models.ApplicationUser
@{
    ViewData["Title"] = "Dashboard";
}

<h1>Hello Dashboard</h1>
@if (this.User.Identity.IsAuthenticated)
{
    <div class="col-md-12 text-right">
        <a asp-controller="UserActivities" asp-action="ViewProfile" class="btn btn-primary">Profile Settings</a>

    </div>
}

