<div class="backgroundWhiteBorder">
    <div class=" container p-3">
        <div class=" row pt-4">
            <div class="card text-left" style="width: 100%" height:30%>
                <div class="card-header bg-dark text-light ml-0 row container">
                    <div class="col-6">
                        Other Information
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container p-3">
    <div>
        <ul>
            <li>For Latest goverenment guidelines, one should check this.<a href="https://corona.gov.bd/press-release" target="_blank"> Latest Government Notices.</a></li>
            <li>For latest corona new-symtoms, one should check this. <a href="https://corona.gov.bd/corona-new-symptom" target="_blank">Latest Corona Symtoms</a></li>
            <li>Latest Government approved covid-19 test laboratories.<a href="https://corona.gov.bd/corona-out-service" target=" _blank">Click Here</a></li>
            <li>List of the hospitals, those provide services for corona patient.<a href="https://corona.gov.bd/hospital-icu" target=" _blank">Click Here</a></li>
            <li>Initially you can check if you are affected by covid-19 or not?<a href="https://livecoronatest.com/" target="_blank"> Primay Covid Symtoms Check</a></li>
            <li>In case of suspected corona patient, one should check this.<a href="https://corona.gov.bd/corona-symptom" target="_blank"> Click Here</a></li>
            <li>In case of mild symptoms, one should check this. <a href="https://corona.gov.bd/corona-mild-symptom" target="_blank"> Click Here</a></li>
            <li>In case of moderate symptoms, one should check this.<a href="https://corona.gov.bd/corona-medium-symptom" target="_blank"> Click Here</a></li>
            <li>In case of acute symptoms, one should check this.<a href="https://corona.gov.bd/corona-intense-symptom" target="_blank"> Click Here</a></li>
            <li>In case of post covid symtoms, one should check this.<a href="https://corona.gov.bd/corona-post-covid-symptom" target="_blank"> Click Here</a></li>
        </ul>
    </div>
</div>
