<div class="backgroundWhiteBorder">
    <div class=" container p-3">
        <div class=" row pt-4">
            <div class="card text-left" style="width: 100%" height:30%>
                <div class="card-header bg-dark text-light ml-0 row container">
                    <div class="col-6" >
                         Covid Care - WE FIGHT , WE CARE
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container p-3">
        <div>
           <ul>
               <h3>Steps:</h3>
               <li>One needs to register in the website.</li> 
               <li>After registration, you will be directly connected to the dashboard where you can get all the services.</li>
               <li>Next time , one just need to log in to use the website.</li>
               <li>One get to know  the condition of himself so that he can take care of himself properly </li>
               <li>One can also track his condition properly.</li>
           </ul>
        </div>
</div>

