<div class="backgroundWhiteBorder">
    <div class=" container p-3">
        <div class=" row pt-4">
            <div class="card text-left" style="width: 100%" height:30%>
                <div class="card-header bg-dark text-light ml-0 row container">
                    <div class="col-6">
                        <i class="fas fa-info-circle"></i> VACCINE INFORMATION
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container p-3">
    <div>
        <ul>
            <h3>Steps:</h3>
            <li>If you are not registerd yet for the vaccine, you can click the link and that will direct you to the website where you can register for the vaccine.</li>
            <li>The link is here. <a href="https://surokkha.gov.bd/" target="_blank"> Surokha Website</a> </li>
            <li>After registration, you will be notified reagrding date and place via sms. </li>
            <li>
                You have to collect the vaccine card from the given link to get the vaccine from the respective centre.
                <a href="https://surokkha.gov.bd/vaccine-card" target="_blank">Collect Vaccine Card</a>
            </li>
            <li>
                When you complete both the vaccine dose, then you are vaccinated and you can collect the certifaicate from the given link.
                <a href="https://surokkha.gov.bd/certificate" target="_blank">Collect Vaccine Certificate</a>
            </li>
            <li>
                One can verify his certificate from the given link.
                <a href="https://surokkha.gov.bd/verify" target="_blank">Verify Vaccine Certificate</a>
            </li>
        </ul>
    </div>
</div>

